@page
@model TibiaMobileWeb.Views.Home.IndexModel
@using TibiaMobileWeb.DataBase.Tables;

@{
    Layout = "_Layout";
    int index = 0;
}


<h2>Estadisticas</h2>

<div class="TableContentContainer">
    <table class="TableContainer TableContent">
        <thead>
            <tr>
                <th>
                    Rango
                </th>
                <th>
                    Outfit
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Level
                </th>
                <th>
                    Experiencia
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (Players player in Model.players)
            {
                index++;
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        <img src="/image/outfit?look=@player.look&head=@player.head&body=@player.body&legs=@player.legs&feet=@player.feet" />
                    </td>
                    <td>
                        <a href="/player/@player.name">@player.name</a>
                    </td>
                    <td>
                       @player.level
                    </td>
                    <td>
                        @player.experience
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
